<div class="wrap">
  <form (ngSubmit)="submit()" [formGroup]="form" class="form">
    <div [class.field--error]="form | krError: 'first_name'" class="field">
      <div class="field__label">First Name</div>
      <input class="field__input" formControlName="first_name" matInput placeholder="First Name" />
      <div *ngIf="(form | krError: 'first_name')" class="field__error">{{ form | krErrorMessage: 'first_name' }}</div>
    </div>

    <div [class.field--error]="form | krError: 'last_name'" class="field">
      <div class="field__label">Last Name</div>
      <input class="field__input" formControlName="last_name" matInput placeholder="Last Name" />
      <div *ngIf="(form | krError: 'last_name')" class="field__error">{{ form | krErrorMessage: 'last_name' }}</div>
    </div>

    <div [class.field--error]="form | krError: 'email'" class="field">
      <div class="field__label">Email</div>
      <input class="field__input" formControlName="email" matInput placeholder="Email" />
      <div *ngIf="(form | krError: 'email')" class="field__error">{{ form | krErrorMessage: 'email' }}</div>
    </div>

    <div [class.field--error]="form | krError: 'password'" class="field">
      <div class="field__label">Password</div>
      <input class="field__input" formControlName="password" krEqual="password" matInput placeholder="Password" type="password" />
      <div *ngIf="(form | krError: 'password')" class="field__error">{{ form | krErrorMessage: 'password' }}</div>
    </div>

    <div [class.field--error]="form | krError: 'password_retype'" class="field">
      <div class="field__label">Retype Password</div>
      <input
        class="field__input"
        formControlName="password_retype"
        krEqual="password"
        krRepeat="true"
        matInput
        placeholder="Retype Password"
        type="password"
      />
      <div *ngIf="(form | krError: 'password_retype')" class="field__error">{{ form | krErrorMessage: 'password_retype' }}</div>
    </div>

    <button color="primary" mat-raised-button>Submit</button>
  </form>
</div>
